[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
pytest = "*"
commonregex = "*"
pyap = "*"
names-dataset = "*"
bertopic = "*"
sentence-transformers = "*"
nltk = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
post_install = "python script.py"
