[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
nltk = "*"
transformers = "*"
sentence-transformers = "*"
names-dataset = "*"
commonregex = "*"
pyap = "*"

[dev-packages]

[scripts]
post_install = "./setup.sh"

[requires]
python_version = "3.12"
